name: CI

on:
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Databricks CLI & SDK
        run: |
          pip install databricks-sdk
          pip install databricks

      - name: Validate bundle syntax
        run: databricks bundle validate